<link rel="stylesheet" href="/css/footer.css">
<!-- Footer Start -->
<footer class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5><%=__('About Us')%></h5>
        <p><%=__('About Us Content')%></p>
      </div>
      <div class="col-md-4">
        <h5><%=__('Resources')%></h5>
        <ul>
          <li><a href="#"><%=__('Blog')%></a></li>
          <li><a href="#"><%=__('FAQ')%></a></li>
          <li><a href="#"><%=__('Terms of Service')%></a></li>
          <li><a href="#"><%=__('Privacy Policy')%></a></li>
          <li><a href="#"><%=__('Contact Support')%></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5><%=__('Quick Links')%></h5>
        <ul>
          <li><a href="/"><%=__('Home')%></a></li>
          <li><a href="/about"><%=__('About')%></a></li>
          <li><a href="/contact"><%=__('Contact')%></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p><%=__('Copyright')%></p>
  </div>
</footer>
<!-- Footer End -->