<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/search-bar.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.3/css/flag-icons.min.css"
  integrity="sha512-bZBu2H0+FGFz/stDN/L0k8J0G8qVsAL0ht1qg5kTwtAheiXwiRKyCq1frwfbSFSJN3jooR5kauE0YjtPzhZtJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- Navigation bar with custom styling and full width -->
<nav class="navbar navbar-expand-md custom-navbar w-100 fixed-top">
  <!-- Brand logo with a link to the homepage -->
  <a class="navbar-brand" href="/">AFFAR</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left-aligned navigation links -->
    <ul class="navbar-nav mr-auto navbar-left">
      <!-- Home link -->
      <li class="nav-item">
        <a class="nav-link" href="/"><%= __('Home') %></a>
      </li>
      <!-- Services link -->
      <li class="nav-item">
        <a class="nav-link" href="/services"><%= __('Services') %></a>
      </li>
      <!-- Contact link -->
      <li class="nav-item">
        <a class="nav-link" href="/contact"><%= __('Contact') %></a>
      </li>
      <!-- About link -->
      <li class="nav-item">
        <a class="nav-link" href="/about"><%= __('About') %></a>
      </li>
    </ul>
    <!-- Search bar container -->
    <div class="search-bar">
      <input
        id="search-input"
        type="search"
        id="searchField"
        placeholder="Search for products..."
      />
      <button id="search-button" type="submit" id="searchButton">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <!-- Right-aligned navigation options -->
    <ul class="navbar-nav navbar-right">
      <!-- Check if the user is logged in -->
      <% if (user) { %>
      <!-- User dropdown with a gradient background -->
      <div
        class="btn-group nav-item"
        style="background: linear-gradient(#ff7f07, #e4cd00)"
      >
        <!-- User icon and name display -->
        <button type="button" class="btn">
          <i class="fa-solid fa-user"></i>
          <span><%= user.name %></span>
        </button>
        <!-- Dropdown toggle button -->
        <button
          type="button"
          class="btn dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <!-- Dropdown menu with logout option -->
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/users/logout"
              ><%= __('Logout') %></a
            >
          </li>
        </ul>
      </div>
      <% } else { %>
      <!-- Login and Register links for guests -->
      <li class="nav-item d-flex flex-row">
        <a class="nav-link" id="login-link" href="/users/login"
          ><%=__('Login')%></a
        >
      </li>
      <% } %>
      <!-- Shopping cart link with item count badge -->
      <li class="nav-item">
        <div class="d-flex flex-col">
          <a class="nav-link" href="/cart" style="max-height: 30px">
            <i class="fa-solid fa-shopping-cart"></i>
            <span class="badge rounded-pill bg-danger"> 0 </span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- Determine language -->
  <span class="flag-icon flag-icon-gb" style="width: 30px; height: 30px"></span>
  <!-- For English -->
  <span class="flag-icon flag-icon-fr"></span>
  <!-- For French -->

  <a href="#" class="lang-link" data-lang="en">English</a> |
  <a href="#" class="lang-link" data-lang="fr">Français</a>

  <!-- Hamburger menu toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <script src="/scripts/navbarCollapse.js"></script>
  <script src="/scripts/moveSearchBar.js"></script>
  <script src="/scripts/getLangLink.js"></script>
</nav>
